@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
 *{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
 }
 
:root {
    --dmElements: hsl(209, 23%, 22%);
    --dmBackground: hsl(207, 26%, 17%);
    --lmText: hsl(200, 15%, 8%);
    --lmInput: hsl(0, 0%, 52%);
    --lmBackground: hsl(0, 0%, 98%);
    --lmElements: hsl(0, 0%, 100%);
    --dmText: hsl(0, 0%, 100%);
}
.search-handle, .country, .filter, .contients{
    box-shadow: .3rem .3rem 0.3rem #11151715;
}
body{
    width: 100%;
    overflow-x: hidden;
}
body.lm .header{
    background-color: var(--lmElements);
    color: var(--lmText);
}
body.lm .mode::before{
    content: "dark mode";
}
body.lm main{
    background-color: var(--lmBackground);
    color: var(--lmText);
}
body.lm .mode-icon{
    color: var(--lmText);
}
body.lm .search-handle{
    background-color: var(--lmInput);
    color: var(--lmText);
}
body.lm .search-icon{
    background-color: var(--lmElements);
    color: var(--lmInput);
}
body.lm .search{
    background-color: var(--lmElements);
    color: var(--lmInput);
}
body.lm .filter{
    background-color: var(--lmElements);
}
body.lm .country{
    background-color: var(--lmElements);
    color: var(--lmText);
}
body.lm .contients{
    background-color: var(--lmElements);
    color: var(--lmText);
}

body.dm .header{
    background-color: var(--dmElements);
    color: var(--dmText);
}
body.dm .mode-icon{
   fill: var(--dmText);
}
body.dm .mode::before{
    content: "light mode";
}
body.dm main{
    background-color: var(--dmBackground);
    color: var(--dmText);
}
body.dm .search-handle{
    background-color: var(--dmElements);
    color: var(--dmText);
}
body.dm .search-icon{
    background-color: var(--dmElements);
    color: var(--dmText); 
    fill: var(--dmText);
    
}
body.dm .search{
    background-color: var(--dmElements);
    color: var(--dmText);
}
body.dm .filter{
    background-color: var(--dmElements);
}
body.dm .country{
    background-color: var(--dmElements);
    color: var(--dmText);
}
body.dm .contients{
    background-color: var(--dmElements);
    color: var(--dmText);
}
.header{
    padding: 0 5%;
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: .3rem .3rem 5rem #11151745; */
}
.where{
  font-weight: 800;
  width: 50%;
}
.mode-handle{
    text-align: end;
}
.mode{
    position: relative;
    cursor: pointer;
    font-weight: 600;
}
.mode-icon{
    width: 5%;
    aspect-ratio: 1;
    margin-right: 5%;
}
main{
    padding: 0 2.5%;
    width: 95%;  
    box-shadow:inset .3rem .3rem 0.3rem #11151715;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column; 
} 
.nav-bar{
    padding: 5vh 0;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    align-items:start;
}
.search-handle{
    width: 38%;
    /* width: 99%; */
    display: flex;
    border-radius: 0.7rem ;
}
.search-icon{
    width: 1rem;
    padding: 1vh 2.5vh ;
    border-radius: 0.7rem 0 0 0.7rem ;
    background-color: inherit;
}
.search-icon:hover{
    cursor: pointer;
}
.search{
    border-radius: 0 0.7rem .7rem 0 ;
    width: 100%;
    background-color: inherit;
    border: none;
    outline: none;
}
.search::placeholder{
    content: "Search for a Country...";
    border: none;
}
.filter{
    padding: 0.5rem 0.5rem;
    width: 8rem;
    text-align: center;
    border-radius: .5rem;
    display: flex;
    /* gap: 10%; */
    font-size: 0.875rem;
    font-weight: 800;
    justify-content: space-evenly;
}
.filter:hover{
    cursor: pointer;
}
.filter:hover > .contients{
    display: flex;
}
.drop-down{
    width: 10%;
}
.contients{
    position:absolute;
    padding: 1.2vh 0;
    width: 9rem;
    height: fit-content;
    text-align: left;
    border-radius: .5rem;
    top: 20vh;
    display: none;
    flex-direction: column;
    background-color: black;
    z-index: 2;
}
.contients:hover{
    display: flex;
}
option{
    /* padding: 1rem 1rem; */
    /* text-align: center; */
    font-weight: 800;
    padding: 0 0.5rem ;
    /* transform: scale(100%); */
}
option:hover{
    /* transform: scale(90%); */
    background-color: grey;
}
option:hover > .contients{
    display: flex;
}

.countries{
    height: fit-content;
    display:grid;
    grid-template-columns:4fr  4fr 4fr 4fr;
    gap: 4rem;
}
.country{
    width: 100%;
    border-radius: 0.5rem;
    height: fit-content;
    display:flex;
    flex-direction: column;
}
.q-p{
    position:absolute;
    width: 100%;
    height: 100%;
    /* background-color: aquamarine;  */
} 
.desc{
    height: 60%;
    width: 100%;
}
.desc>*{
    font-size: 0.875rem;
    text-align: left;
    padding: 1vh 5% 0;
}
.c-flag{
    height: 20vh;
    margin: 0 0 0 ;
    object-fit:cover;
    display: flex;
    align-items: start;
    border-radius: 0.5rem 0.5rem 0 0 ;
    padding: 0;
    aspect-ratio: 273/153;
    /* aspect-ratio: 2/1; */
    /* background-color: black; */
    /* background-image: url("https://flagcdn.com/ax.svg"); */
    object-fit: fill;
    /* background-color: aqua; */
}
.c-name{
    padding: 3vh 5% .5vh;
    font-weight: 800;
}
.bold{
    padding: unset;
    font-weight: 600;
}
.c-capital{
    padding: 1vh 5% 5vh 5%;
}

@media screen and (max-width:1099px) {
    .search-handle{
        height: 5vh;
    }
    .countries{
        grid-template-columns:4fr 4fr 4fr ;
        gap: 2rem;
    }
}

@media screen and (max-width:999px) {
    .header{
        height: 5vh;
    }
    
    .nav-bar{
        padding: 1.3vh 0;
        align-items:start;
    }
    .search-handle{
        width: 40%;
        height: 3vh;
    }
    .filter{ 
        position: relative;
        padding: 0.5vh 0.5vh;
        width: 20%;
    }
    .placeholder{
        position: relative;
    }
    .contients{
        position:absolute;
        padding: 1.2vh;
        width: 80%;
        top: 110%;
    }
    .countries{
        grid-template-columns:1fr 1fr 1fr;
        gap: 2rem;
    }
    .country{
        height:23vh;
    }
    .desc{
        height: 50%;
    }
    .desc>*{
        padding: 5% 5%  0;
    }     
    .c-flag{
        height: 50%;
        padding: 0;
    }
    .c-name{
        padding: 5% 5% 0;
    }
    @media screen and (max-width:800px) {   
        .country{
            padding-bottom: 1vh;
            height:23vh;
        }
    }
    @media screen and (max-width:699px) {   
        html{
            font-size: 12px;
        }
        .header{
            padding: 0 5%;
            width: 90%;
            height: 6vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .where, .mode{
            font-size: 1rem;
        }
        .nav-bar{
            flex-direction: row-reverse;
        }
        .countries{
            grid-template-columns: 1fr 1fr;
        }
        .country{
            padding-bottom: 1vh;
            height:23vh;
        }
        .desc{
            height: 50%;
        }
        .desc>*{
            padding: 1% 5%  0;
        }     
        .c-flag{
            height: 50%;
            padding: 0;
        }
        .c-name{
            padding: 2% 5% 0;
        }   
    }
    @media screen and (max-width:470px) {  
        .nav-bar{
            flex-direction: column;
            gap: 1rem;
            
        }
        .search-handle{
            width: 70%;
            border-radius: 0.3rem;
        }
        .filter{
            width: 40%;
        }
        .countries{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .country{
            width:65%;
        }
    } 

}